<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <%= image_tag("logo.png", class: "lead", width: "300") %>
        <p class="lead"><%= @cont  %></p>
      </div>
    </div>
  </div>
</div>
